.infoLabel {
    display: flex; /* makes it a flex container */
    justify-content: space-between; /* pushes child elements to the edges of the container */
    align-items: center; /* vertically centers child elements */
    width: 100%; /* uses the full width of the container */
    margin-bottom: 0; /* adds some space between each label group */
  }
  
  /* Style for the label containing the data */
  .info {
    flex-shrink: 0; /* prevents it from shrinking if space is tight */
    margin-left: 20px; /* adds some space between the title and the data */
    font-weight: bold; /* makes it bold (optional) */
  }
  
  img {
    max-width: 100%; /* ensures the image doesn't overflow its container */
    height: auto; /* maintains aspect ratio */
    min-height: 150px; /* ensures a minimum height */
    object-fit: cover; /* covers the entire area */
  }
  
  .name {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .image-container {
    height: 150px; /* Or any fixed height you prefer */
    width: 100%; /* Takes the full width of the parent container */
    overflow: hidden; /* Hides any overflowing parts of the image */
  }
  