body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input { margin-bottom: 20px; }
.searchLabel { margin-right: 10px; }

.infoLabel {
  display: flex; /* makes it a flex container */
  justify-content: space-between; /* pushes child elements to the edges of the container */
  align-items: center; /* vertically centers child elements */
  width: 100%; /* uses the full width of the container */
  margin-bottom: 0; /* adds some space between each label group */
}

/* Style for the label containing the data */
.info {
  flex-shrink: 0; /* prevents it from shrinking if space is tight */
  margin-left: 20px; /* adds some space between the title and the data */
  font-weight: bold; /* makes it bold (optional) */
}



